body {
    padding: 0px;
    margin: 0px;
}
#menu ul{
padding: 0px;
margin: 0px;
float: left;
width: 100%;
background-color: #252526;
list-style:  none;
font: 100% verdana;
}
#menu ul li{display: inline;}
#menu ul li a {
    color: #ffffff;
}
#menu ul li a:hover {
    color: blue;
    border-bottom: 3px solid #ffffffff;


}